<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./vars.css">
  <link rel="stylesheet" href="./style.css">
  
  
  <style>
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>Document</title>
</head>
<body>
  <div class="order-detail-page">
    <div class="order-detail-header">
      <div class="div">주문 상세 내역</div>
      <div class="line-5"></div>
      <div class="_2024-02-12-12-08-25">
        <span>
          <span class="_2024-02-12-12-08-25-span">주문일자</span>
          <span class="_2024-02-12-12-08-25-span2">2024.02.12. 12:08:25</span>
          <span class="_2024-02-12-12-08-25-span3"></span>
          <span class="_2024-02-12-12-08-25-span4"></span>
          <span class="_2024-02-12-12-08-25-span5"></span>
          <span class="_2024-02-12-12-08-25-span6"></span>
        </span>
      </div>
      <div class="_202305301027050001">
        <span>
          <span class="_202305301027050001-span">주문번호</span>
          <span class="_202305301027050001-span2"></span>
          <span class="_202305301027050001-span3">202305301027050001</span>
        </span>
      </div>
    </div>
    <div class="order-detail-board">
      <div class="order-info-board">
        <div class="div2">주문상품</div>
        <div class="div3">구매확정완료</div>
        <div class="order-info"></div>
        <img class="product-img" src="product-img0.png" />
        <div class="div4">
          <span>
            <span class="div-4-span">[소락] 오가닉 코튼 자수 손수건</span>
            <span class="div-4-span2"></span>
          </span>
        </div>
        <div class="div5">
          <span>
            <span class="div-5-span">문의 &gt;</span>
            <span class="div-5-span2"></span>
          </span>
        </div>
        <div class="_5000">
          <span>
            <span class="_5000-span">5000원</span>
            <span class="_5000-span2"></span>
            <span class="_5000-span3"></span>
          </span>
        </div>
        <div class="_1">
          <span>
            <span class="_1-span">수량 1개</span>
            <span class="_1-span2"></span>
            <span class="_1-span3"></span>
          </span>
        </div>
        <div class="_7000">
          <span>
            <span class="_7000-span">7000원</span>
            <span class="_7000-span2"></span>
            <span class="_7000-span3"></span>
            <span class="_7000-span4"></span>
          </span>
        </div>
        <div class="line-7"></div>
        <img class="return-butoon" src="return-butoon0.svg" />
        <div class="div6">반품요청</div>
      </div>
      <div class="order-delivery-board">
        <div class="div7">배송지 정보</div>
        <div class="order-delivery">
          <div class="div8">
            이름
            <br />
            <br />
            연락처
            <br />
            <br />
            배송지 주소
            <br />
            <br />
            배송 메시지
            <br />
          </div>
          <div class="order-delivery-info"></div>
        </div>
      </div>
      <div class="order-pay-board">
        <div class="div9">결제 정보</div>
        <div class="order-pay">
          <div class="div10">
            <span>
              <span class="div-10-span">
                주문 금액
                <br />
                <br />
                배송비 합계
                <br />
                <br />
                할인 합계
                <br />
                <br />
              </span>
              <span class="div-10-span2">
                최종 결제 금액
                <br />
              </span>
              <span class="div-10-span3">
                <br />
                결제 수단
                <br />
              </span>
            </span>
          </div>
          <div class="order-pay-info"></div>
        </div>
      </div>
    </div>
  </div>
  
</body>
</html>