<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="popup_2.js"></script>
</head>

<body>
    <h1>개인정보 입력</h1>
    <form>
        <input type="text" id="name" placeholder="이름"><br>
        <input type="text" id="phone" placeholder="번호"><br>
        <input type="text" id="address" placeholder="주소" disabled>
        <input type="button" onclick="execDaumPostcode()" value="주소입력"><br>
        <input type="text" id="detailAddress" placeholder="상세주소"><br>
        <input type="submit" value="제출">
    </form>
</body>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<style>
    .wrong_text {
        font-size: 1rem;
        color: #f44e38;
        letter-spacing: -.2px;
        font-weight: 300;
        margin: 8px 0 2px;
        line-height: 1em;
        display: none
    }
</style>

</html>