<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saeromteo.app.basket">

    <resultMap id="basketResultMap" type="com.saeromteo.app.basket.BasketDTO">
        <id property="productCode" column="product_code" />
        <id property="userId" column="user_id" />
        <result property="productQuantity" column="product_quantity" />
    </resultMap>

    <!-- 장바구니 목록 전체 조회 -->
    <select id="readAll" resultMap="basketResultMap">
        SELECT
            b.product_code,
            b.user_id,
            b.product_quantity,
            p.product_name,
            CASE
                WHEN d.discount_rate IS NOT NULL THEN p.product_price * (1 - d.discount_rate)
                ELSE p.product_price
            END AS product_price,
            p.thumbnail
        FROM 
            BASKET b
        JOIN 
            PRODUCT p ON b.product_code = p.product_code
        LEFT JOIN 
            DISCOUNT d ON p.discount_code = d.discount_code;
    </select>

    <!-- 특정 사용자의 장바구니 조회 -->
    <select id="readByProductCodeAndUserId" parameterType="map" resultMap="basketResultMap">
        SELECT 
            b.product_code, 
            p.product_name, 
            p.product_price, 
            b.product_quantity
        FROM 
            BASKET b
        JOIN 
            PRODUCT p ON b.product_code = p.product_code
        WHERE 
            b.user_id = #{userId};
    </select>
    
    <!-- 장바구니 항목 추가 -->
    <insert id="insertBasket" parameterType="com.saeromteo.app.basket.BasketDTO">
        INSERT INTO BASKET (
            product_code, 
            user_id, 
            product_quantity
        )
        VALUES (
            #{productCode}, 
            #{userId}, 
            #{productQuantity}
        )
        ON DUPLICATE KEY UPDATE
            product_quantity = product_quantity + VALUES(product_quantity);
    </insert>
    
    <!-- 장바구니 항목 수정 -->
    <update id="updateBasket" parameterType="com.saeromteo.app.basket.BasketDTO">
        UPDATE BASKET
        SET 
            product_quantity = #{productQuantity}
        WHERE 
            product_code = #{productCode} 
            AND user_id = #{userId};
    </update>
    
    <!-- 장바구니 항목 삭제 -->
    <delete id="deleteBasket" parameterType="map">
        DELETE FROM BASKET
        WHERE 
            product_code = #{productCode} 
            AND user_id = #{userId};
    </delete>
</mapper>
