<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.saeromteo.collection">

	<resultMap id="collectionResultMap" type="collectionvo">
		<id property="collectionId" column="collection_id" />
		<result property="requestedDate" column="requested_date" />
		<result property="approvedDate" column="approved_date" />
		<result property="completedDate" column="completed_date" />
		<result property="weight" column="weight" />
		<result property="image1" column="image1" />
		<result property="image2" column="image2" />
		<result property="image3" column="image3" />
		<result property="image4" column="image4" />
		<result property="resultImage1" column="result_image1" />
		<result property="resultImage2" column="result_image2" />
		<result property="resultImage3" column="result_image3" />
		<result property="resultImage4" column="result_image4" />
		<result property="inspectionResult" column="inspection_result" />
		<result property="address" column="address" />
		<result property="userId" column="user_id" />
	</resultMap>

	<!-- Read -->
    <select id="readAll" resultType="com.saeromteo.app.model.collection.CollectionDto$ReadAllDto">
        SELECT 
            c.collection_id as collectionId,
            c.requested_date as requestedDate,
            c.approved_date as approvedDate,
            c.completed_date as completedDate,
            c.weight,
            c.image1,
            c.image2,
            c.image3,
            c.image4,
            c.result_image1 as resultImage1,
            c.result_image2 as resultImage2,
            c.result_image3 as resultImage3,
            c.result_image4 as resultImage4,
            c.inspection_result as inspectionResult,
            c.address,
            c.user_id as userId,
            u.user_real_name as userRealName
        FROM 
            collections c
        JOIN 
            USER_INFO u ON c.user_id = u.user_id
    </select>
    
    <select id="readByUserId" resultType="com.saeromteo.app.model.collection.CollectionDto$ReadAllDto">
        SELECT 
            c.collection_id as collectionId,
            c.requested_date as requestedDate,
            c.approved_date as approvedDate,
            c.completed_date as completedDate,
            c.weight,
            c.image1,
            c.image2,
            c.image3,
            c.image4,
            c.result_image1 as resultImage1,
            c.result_image2 as resultImage2,
            c.result_image3 as resultImage3,
            c.result_image4 as resultImage4,
            c.inspection_result as inspectionResult,
            c.address,
            c.user_id as userId,
            u.user_real_name as userRealName
        FROM 
            collections c
        JOIN 
            USER_INFO u ON c.user_id = u.user_id
        WHERE c.user_id = #{userId}
    </select>
    
	<select id="readById" parameterType="Integer"
		resultMap="collectionResultMap">
		SELECT * FROM collections WHERE collection_id =
		#{collectionId}
	</select>


	<!-- Insert -->
	<insert id="insert" parameterType="collectionvo"
		useGeneratedKeys="true" keyProperty="collectionId">
		INSERT INTO collections
		(requested_date, approved_date, completed_date,
		weight, image1, image2,
		image3, image4, result_image1, result_image2,
		result_image3,
		result_image4, inspection_result, address, user_id)
		VALUES
		(CURRENT_TIMESTAMP, #{approvedDate}, #{completedDate},
		#{weight},
		#{image1}, #{image2}, #{image3}, #{image4},
		#{resultImage1},
		#{resultImage2}, #{resultImage3}, #{resultImage4},
		#{inspectionResult}, #{address}, #{userId})
	</insert>

	<!-- Update -->
	<update id="update" parameterType="collectionvo">
		UPDATE collections
		<set>
			<if test="requestedDate != null">requested_date = #{requestedDate},</if>
			<if test="approvedDate != null">approved_date = #{approvedDate},</if>
			<if test="completedDate != null">completed_date = #{completedDate},</if>
			<if test="weight != null">weight = #{weight},</if>
			<if test="image1 != null">image1 = #{image1},</if>
			<if test="image2 != null">image2 = #{image2},</if>
			<if test="image3 != null">image3 = #{image3},</if>
			<if test="image4 != null">image4 = #{image4},</if>
			<if test="resultImage1 != null">result_image1 = #{resultImage1},</if>
			<if test="resultImage2 != null">result_image2 = #{resultImage2},</if>
			<if test="resultImage3 != null">result_image3 = #{resultImage3},</if>
			<if test="resultImage4 != null">result_image4 = #{resultImage4},</if>
			<if test="inspectionResult != null">inspection_result = #{inspectionResult},</if>
			<if test="address != null">address = #{address},</if>
			<if test="userId != null">user_id = #{userId}</if>
		</set>
		WHERE collection_id = #{collectionId}
	</update>


	<!-- Delete -->
	<delete id="delete" parameterType="Integer">
		DELETE FROM collections WHERE
		collection_id = #{collectionId}
	</delete>

</mapper>
