<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.saeromteo.news">

	<!-- Read -->
	<select id="readAll" resultType="newsresponsevo">
		SELECT * FROM NEWS;
	</select>
	<select id="readById" parameterType="int" resultType="newsresponsevo">
		SELECT * FROM NEWS WHERE NEWS_ID=#{id};
	</select>
	<select id="readById" parameterType="boolean" resultType="newsresponsevo">
		SELECT * FROM NEWS WHERE NEWS_CHECK=#{check};
	</select>
	
	<!-- Udpate -->
	<update id="updateNews" parameterType="newsrequestvo">
		UPDATE NEWS SET
		NEWS_CHECK = #{newsCheck}
		WHERE NEWS_ID = #{newsId}
	</update>
	
	<!-- Delete -->
	<delete id="deleteNews" parameterType="int">
		DELETE FROM NEWS WHERE NEWS_ID = #{id}
	</delete>
	
</mapper>