<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.saeromteo.news">

	<!-- Read -->
	<select id="readAll" resultType="newsresponsevo">
		SELECT * FROM NEWS;
	</select>
	<select id="readById" parameterType="int" resultType="newsresponsevo">
		SELECT * FROM NEWS WHERE NEWSID=#{id};
	</select>
	<select id="readByCheck" parameterType="boolean" resultType="newsresponsevo">
		SELECT * FROM NEWS WHERE NEWSCHECK=#{check};
	</select>
	<select id="readFour" resultType="newsresponsevo">
		SELECT * FROM NEWS LIMIT 4;
	</select>
	
	<!-- Update -->
	<update id="updateNews" parameterType="newsrequestvo">
		UPDATE NEWS SET
		NEWSCHECK = #{newsCheck}
		WHERE NEWSID = #{newsId}
	</update>
	
	<!-- Delete -->
	<delete id="deleteNews" parameterType="int">
		DELETE FROM NEWS WHERE NEWSID = #{id}
	</delete>
	
</mapper>