<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.saeromteo.news">

	<!-- Read -->
	<select id="readAll" resultType="newsresponsevo">
		SELECT * FROM NEWS;
	</select>
	<select id="readById" parameterType="int" resultType="newsresponsevo">
		SELECT * FROM NEWS WHERE NEWSID=#{id};
	</select>
	<select id="readByCheck" parameterType="boolean" resultType="newsresponsevo">
		SELECT * FROM NEWS WHERE NEWSCHECK=#{check};
	</select>
	<select id="readByCategory" parameterType="String" resultType="newsresponsevo">
		SELECT * FROM NEWS WHERE NEWSCHECK=TRUE NEWSCATEGORY=#{newsCategory};
	</select>
	<select id="readFour" resultType="newsresponsevo">
		SELECT * FROM NEWS WHERE NEWSCHECK=TRUE LIMIT 4;
	</select>
	<select id="readSearch" parameterType="String" resultType="newsresponsevo">
		SELECT * FROM NEWS WHERE MATCH(NEWSTITLE) AGAINST(#{keyword} IN BOOLEAN MODE) OR MATCH(NEWSDESCRIPTION) AGAINST(#{keyword} IN BOOLEAN MODE)
		AND NEWSCHECK=TRUE
	</select>
	<select id="readUpdateDate" resultType="String">
		SELECT GLOBAL_VALUE FROM GLOBAL_SETTINGS WHERE GLOBAL_KEY='news_update_date'
	</select>
	
	<!-- Update -->
	<update id="updateNews" parameterType="newsrequestvo">
		UPDATE NEWS SET
		NEWSCHECK = #{newsCheck}
		WHERE NEWSID = #{newsId}
	</update>
	
	<!-- Delete -->
	<delete id="deleteNews" parameterType="int">
		DELETE FROM NEWS WHERE NEWSID = #{id}
	</delete>
	
</mapper>