<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saeromteo.app.notice">
	<!-- 공지사항 전체조회 -->
	<select id="readAll" resultType="noticeresponsevo">
		select * from NOTICES
	</select>

	<!-- 공지사항 카테고리별 조회 -->
	<select id="readCategory" parameterType="string"
		resultType="noticeresponsevo">
		select * from NOTICES 
		where Notice_category = #{noticeCategory}
	</select>
	
	<!-- 공지사항 상세보기 -->
	<select id="readDetail" parameterType="int" resultType="noticeresponsevo">
    	SELECT * FROM NOTICES WHERE Notice_id=#{Id}
    </select>
	
	<!-- 공지사항 수정 -->
	<update id="updateNotice" parameterType="noticerequestvo">
		UPDATE NOTICES
		SET 
			Notice_category = #{noticeCategory},
			Notice_title = #{noticeTitle},
			Notice_content = #{noticeContent},
			Notice_date = CURRENT_TIMESTAMP
		WHERE 
			Notice_id = #{noticeId}
	</update>
	
	<!-- 공지사항 삭제 -->
	<delete id="deleteNotice" parameterType="int">
		delete from NOTICES
		where Notice_id = #{noticeId}
	</delete>
	
	<!-- 공지사항 작성 -->
	<insert id="insertNotice" parameterType="noticerequestvo">
		insert into NOTICES(Notice_Category, Notice_title, Notice_content, Notice_date)
		values (#{noticeCategory}, #{noticeTitle}, #{noticeContent}, CURRENT_TIMESTAMP)
	</insert>
</mapper>