<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.saeromteo.order">

	<resultMap id="orderDetailMap" type="orderDetailRespVo">
		<association property="order" javaType="orderResponse">
			<id property="orderCode" column="ORDER_CODE" />
			<result property="orderDate" column="ORDER_DATE" />
			<result property="orderStatus" column="ORDER_STATUS" />
			<result property="userCode" column="USER_ID" />
		</association>
		<collection property="products" ofType="orderProdRespVo">
			<result property="productCode" column="PRODUCT_CODE" />
			<result property="orderQuantity" column="ORDER_QUANTITY" />
			<result property="orderPrice" column="ORDER_PRICE" />
		</collection> 
	</resultMap>

	 <resultMap id="recipientInfoMap" type="recipientInfoVo">
        <result property="userEmail" column="USER_EMAIL" />
        <result property="phoneNumber" column="USER_PHONE" />
        <result property="recipient" column="USER_REAL_NAME"/>
        <result property="address" column="USER_ADD" />
        <result property="zipCode" column="USER_POSTAL_CODE" />
    </resultMap>

	<!-- Create -->
	<insert id="createOrder" parameterType="orderVo">
		INSERT INTO ORDER_INFO(
		ORDER_CODE,
		ORDER_STATUS,
		USER_ID,
		ORDER_DATE 
		) VALUES (
		#{orderCode},
		#{orderStatus},
		#{userCode},
		#{orderDate}
		)
	</insert>

	<insert id="createOrderProduct" parameterType="orderProductVo">
		INSERT INTO
		ORDERPRODUCT (
		PRODUCT_CODE,
		ORDER_CODE,
		ORDER_QUANTITY,
		ORDER_PRICE
		)
		VALUES (
		#{productCode},
		#{orderCode},
		#{orderQuantity},
		#{orderPrice}
		)
	</insert>

	<insert id="setRecipient" parameterType="deliveryVo">
		INSERT INTO DELIVERY (
		DELIVERY_CODE,
		DELIVERY_MEMO,
		RECIPIENT,
		RECIPIENT_ADDRESS,
		RECIPIENT_PHONE,
		ORDER_ID,
		ZIP_CODE
		) VALUES (
		#{deliveryCode},
		#{deliveryMemo,jdbcType=VARCHAR},
		#{recipient},
		#{address},
		#{phoneNumber},
		#{orderCode},
		#{zipCode}
		)
	</insert>
	
	<!-- Read -->
	<select id="readAll" resultMap="orderDetailMap">
		SELECT
		oi.ORDER_CODE,
		oi.ORDER_DATE,
		oi.ORDER_STATUS,
		oi.USER_ID,
		op.PRODUCT_CODE,
		op.ORDER_QUANTITY,
		op.PRODUCT_PRICE    
		FROM
		order_info oi
		JOIN
		orderproduct op
		ON oi.ORDER_CODE = op.ORDER_CODE
	</select>

	<select id="readByUser" parameterType="int"
		resultMap="orderDetailMap">
		SELECT
		oi.ORDER_CODE,
		oi.ORDER_DATE,
		oi.ORDER_STATUS,
		oi.USER_ID,
		op.ORDER_QUANTITY,
		op.PRODUCT_CODE,
		op.PRODUCT_PRICE
		FROM
		order_info oi
		LEFT JOIN ORDERPRODUCT op ON oi.ORDER_CODE = op.ORDER_CODE
		WHERE oi.USER_ID = #{userCode}
	</select>
	
	<select id="stockCheck" parameterType="String"  resultType="int"> 
		SELECT STOCK_QUANTITY
		FROM PRODUCT
		WHERE PRODUCT_CODE = #{productCode}
		
	</select>
	
	<select id="getRecipientInfo" parameterType="int" resultMap="recipientInfoMap">
		SELECT USER_EMAIL, USER_PHONE, USER_REAL_NAME, USER_ADD, USER_POSTAL_CODE
		FROM USER_INFO
		WHERE USER_ID = #{userCode};
		
	</select>
	
	<select id="getTotalPoints" parameterType="int" resultType="int">
		SELECT USER_POINT_HISTORY
		FROM USER_INFO
		WHERE USER_ID = #{userCode};
	
	</select>
	
	<!-- Update -->
	<update id ="updateOrderStatus" parameterType="map">
	
		UPDATE ORDER_INFO
		SET ORDER_STATUS = #{orderStatus}
		WHERE ORDER_CODE = #{orderCode}
	</update>
	
	<update id="updateStock" parameterType="orderProdRespVo">
        UPDATE PRODUCT
            SET STOCK_QUANTITY = STOCK_QUANTITY - #{orderQuantity}
            WHERE PRODUCT_CODE = #{productCode}
    </update>
    
 
    
    

</mapper>