<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.saeromteo.orderInquiry">

	<resultMap id="orderDetailMap" type="orderDetailRespVo">
		<association property="order" javaType="orderResponse">
			<id property="orderCode" column="ORDER_CODE" />
			<result property="orderDate" column="ORDER_DATE" />
			<result property="orderStatus" column="ORDER_STATUS" />
			<result property="userCode" column="USER_ID" />
		</association>
		<collection property="products" ofType="orderProdRespVo">
			<result property="productCode" column="PRODUCT_CODE" />
			<result property="orderQuantity" column="ORDER_QUANTITY" />
			<result property="orderPrice" column="ORDER_PRICE" />
			<result property="productImgUrl" column="THUMBNAIL" /> 
			<result property="productPrice" column="PRODUCT_PRICE" />
            <result property="productName" column="PRODUCT_NAME" />
		</collection> 
		
	</resultMap>
	
	<resultMap id="detailInquiryMap" type="detailInquiryVo">
	   
	    <id property="orderCode" column="ORDER_CODE" />
	    <result property="orderDate" column="ORDER_DATE" />
	    <result property="orderStatus" column="ORDER_STATUS" />
	    
	    <result property="recipient" column="RECIPIENT" />
	    <result property="address" column="RECIPIENT_ADDRESS" />
	    <result property="phoneNumber" column="RECIPIENT_PHONE" />
	    <result property="zipCode" column="ZIP_CODE" />
	    <result property="waybillCode" column="WAYBILL_CODE" />
	    <result property="deliveryMemo" column="DELIVERY_MEMO" />
	  
	    <collection property="products" ofType="orderProdRespVo">
	        <result property="productCode" column="PRODUCT_CODE" />
	        <result property="orderQuantity" column="ORDER_QUANTITY" />
	        <result property="orderPrice" column="ORDER_PRICE" />
	        <result property="productImgUrl" column="THUMBNAIL" /> 
	        <result property="productPrice" column="PRODUCT_PRICE" />
	        <result property="productName" column="PRODUCT_NAME" />
	    </collection>
	    
	</resultMap>

	<resultMap id="recipientInfoMap" type="recipientInfoVo">
        <result property="userEmail" column="USER_EMAIL" />
        <result property="phoneNumber" column="USER_PHONE" />
        <result property="recipient" column="USER_NICKNAME" />
        <result property="address" column="USER_ADDRESS" />
        <result property="zipCode" column="USER_POSTAL_CODE" />
    </resultMap>
    
    <!-- Read -->
	<select id="readAll" parameterType="int" resultMap="orderDetailMap">
		SELECT 
		    oi.ORDER_CODE,
		    oi.ORDER_DATE,
		    oi.ORDER_STATUS,
		    op.ORDER_QUANTITY,
		    op.ORDER_PRICE,
		    p.product_name,
		    p.product_price,
		    p.thumbnail
		FROM 
		    ORDER_INFO oi
		JOIN 
		    ORDERPRODUCT op ON oi.ORDER_CODE = op.ORDER_CODE
		JOIN 
		    PRODUCT p ON op.PRODUCT_CODE = p.product_code
		WHERE 
		    oi.USER_ID = #{userCode}
		    AND oi.ORDER_STATUS IN ('PAYMENT_COMPLETED', 'SHIPPING', 'DELIVERED', 'PAYMENT_CONFIRMED', 'RETURN_REFUND_COMPLETED')
		ORDER BY 
    		oi.ORDER_DATE DESC;
	</select>

	<select id="readByPeriod" parameterType="map" resultMap="orderDetailMap">
	    SELECT 
	        oi.ORDER_CODE,
	        oi.ORDER_DATE,
	        oi.ORDER_STATUS,
	        op.ORDER_QUANTITY,
	        op.ORDER_PRICE,
	        p.product_name,
	        p.product_price,
	        p.thumbnail
	    FROM 
	        ORDER_INFO oi
	    JOIN 
	        ORDERPRODUCT op ON oi.ORDER_CODE = op.ORDER_CODE
	    JOIN 
	        PRODUCT p ON op.PRODUCT_CODE = p.product_code
	    WHERE 
	        oi.USER_ID = #{userCode}
	        AND oi.ORDER_STATUS IN ('PAYMENT_COMPLETED', 'SHIPPING', 'DELIVERED')
	        AND oi.ORDER_DATE BETWEEN #{startDate} AND #{endDate}
	</select>
	
	<select  id="readDetailInquiry" parameterType="String" resultMap="detailInquiryMap">
	
		SELECT 
	    oi.ORDER_CODE,
	    oi.ORDER_DATE,
	    oi.ORDER_STATUS,
	    d.RECIPIENT,
	    d.RECIPIENT_ADDRESS,
	    d.RECIPIENT_PHONE,
	    d.WAYBILL_CODE,
	    d.ZIP_CODE,
	    op.ORDER_QUANTITY,
	    op.ORDER_PRICE,
	    p.product_code,
	    p.product_name,
	    p.product_price,
	    p.thumbnail
		FROM 
		    ORDER_INFO oi
		JOIN 
		    DELIVERY d ON oi.ORDER_CODE = d.ORDER_ID
		JOIN 
		    ORDERPRODUCT op ON oi.ORDER_CODE = op.ORDER_CODE
		JOIN 
		    PRODUCT p ON op.PRODUCT_CODE = p.product_code
		WHERE 
		    oi.ORDER_CODE = #{orderCode}; 
	</select>
    
</mapper>