<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.searomteo.order">

	<!-- Create -->
	<insert id="createOrder" parameterType="orderVo">
		INSERT_INTO ORDER{
		ORDER_CODE,
		ORDER_DATE,
		ORDER_STATUS,
		USER_CODE
	} VALUES (
		#{orderCode},
		#{orderDate},
		#{orderStatus},
		#{userCode}
	)
	</insert>
	
	<insert id="createOrderProduct" parameterType="orderProductVo">
		INSERT INTO ORDER_PRODUCT (
            PRODUCT_CODE,
            ORDER_ID,
            ORDER_QUANTITY,
            PRODUCT_PRICE
        ) VALUES (
            #{productCode},
            #{orderCode},
            #{orderQuantity},
            #{productPrice}
        )
	</insert>
	
	<!-- Read -->
	<select id="readAll" resultType="orderDetailRespVo">
		SELECT * FROM ORDER;
	</select>
	
	<select id="readByUser" parameterType="int" resultType="orderDetRespVo">
        SELECT 
            o.ORDER_CODE,
            o.ORDER_DATE,
            o.ORDER_STATUS,
            o.USER_CODE,
            op.ORDER_QUANTITY,
            op.PRODUCT_CODE,
            op.PRODUCT_PRICE
        FROM ORDER o
        LEFT JOIN ORDERPRODUCT op ON o.ORDER_CODE = op.ORDER_ID
        WHERE o.USER_CODE = #{userCode}
    </select>
    
</mapper>