<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saeromteo.question">

	<!-- Read -->
	<select id="readAll" resultType="questionresponsevo">
		select * from QUESTIONS order by questionDATE DESC limit #{limit} offset #{offset} 
	</select>
	
	<!-- 문의사항 수 계산 -->
    <select id="getTotalQuestionCount" resultType="int">
        select count(*) from QUESTIONS
    </select>
	
	<select id="findByTitleContaining" parameterType="map" resultType="questionresponsevo">
         SELECT * FROM QUESTIONS WHERE questionTitle LIKE CONCAT('%', #{query}, '%')
        ORDER BY questionDATE DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="findByContentContaining" parameterType="map" resultType="questionresponsevo">
        SELECT * FROM QUESTIONS WHERE questionContent LIKE CONCAT('%', #{query}, '%')
        ORDER BY questionDATE DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="findAll" parameterType="map" resultType="questionresponsevo">
        SELECT * FROM QUESTIONS
        ORDER BY questionDATE DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>
	
	<select id="readCategory" parameterType="string" resultType="questionresponsevo">
		SELECT * FROM QUESTIONS
		WHERE QUESTIONCATEGORY = #{questionCategory}
	</select>
	
	<select id="readUser" parameterType="int" resultType="questionresponsevo">
		SELECT * FROM QUESTIONS
		WHERE USER_CODE = #{userCode}
	</select>
	
	<select id="readDetail" parameterType="int" resultType="questionresponsevo">
		SELECT * FROM QUESTIONS
		WHERE QUESTIONID = #{questionId}
	</select>
	
	<!-- Create -->
	<insert id="insertQuestion" parameterType="questionrequestvo">
		INSERT INTO QUESTIONS (QUESTIONCATEGORY, QUESTIONTITLE, QUESTIONCONTENT, QUESTIONPUBLIC, USER_CODE)
		VALUES (#{questionCategory}, #{questionTitle}, #{questionContent}, #{questionPublic}, #{userCode})
	</insert>
	
	<insert id="insertQuestionAsnwer" parameterType="questionrequestvo">
		INSERT INTO QUESTIONS (QUESTIONANSWER)
		VALUES (#{questionAnswer})
	</insert>
	
	<!-- Update -->
	<update id="updateQuestion" parameterType="questionrequestvo">
		UPDATE QUESTIONS
		SET
		    QUESTIONCATEGORY = #{questionCategory},
		    QUESTIONTITLE = #{questionTitle},
		    QUESTIONCONTENT = #{questionContent},
		    QUESTIONDATE = CURRENT_TIMESTAMP,
		    QUESTIONPUBLIC = #{questionPublic}
		WHERE
		    QUESTIONID = #{userCode}
	</update>
	
	<!-- Delete -->
	<delete id="deleteQuestion" parameterType="questionrequestvo">
		DELETE FROM QUESTIONS
		WHERE QUESTIONID = #{questionId}
	</delete>
</mapper>