<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saeromteo.question">
    <resultMap id="questionResultMap" type="questionresponsevo">
        <id property="questionId" column="question_id" />
        <result property="questionCategory" column="question_category" />
        <result property="questionTitle" column="question_title" />
        <result property="questionContent" column="question_content" />
        <result property="questionPublic" column="question_public" />
        <result property="userId" column="user_id" />
        <result property="questionDate" column="question_date" />
    </resultMap>
    <resultMap id="questionRequestMap" type="questionrequestvo">
        <id property="questionId" column="question_id" />
        <result property="questionCategory" column="question_category" />
        <result property="questionTitle" column="question_title" />
        <result property="questionContent" column="question_content" />
        <result property="questionPublic" column="question_public" />
        <result property="userCode" column="user_code" />
        <result property="questionDate" column="question_date" />
    </resultMap>

    <select id="readAll" resultMap="questionResultMap">
        SELECT * FROM QUESTIONS ORDER BY question_date DESC LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="getTotalQuestionCount" resultType="int">
        SELECT COUNT(*) FROM QUESTIONS
    </select>

    <select id="findByTitleContaining" parameterType="map" resultMap="questionResultMap">
        SELECT * FROM QUESTIONS WHERE question_title LIKE CONCAT('%', #{query}, '%')
        ORDER BY question_date DESC LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="findByContentContaining" parameterType="map" resultMap="questionResultMap">
        SELECT * FROM QUESTIONS WHERE question_content LIKE CONCAT('%', #{query}, '%')
        ORDER BY question_date DESC LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="findAllQuestion" parameterType="map" resultMap="questionResultMap">
        SELECT * FROM QUESTIONS ORDER BY question_date DESC LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="getTotalQuestionCountByTitle" resultType="int">
        SELECT COUNT(*) FROM QUESTIONS WHERE question_title LIKE CONCAT('%', #{query}, '%')
    </select>

    <select id="getTotalQuestionCountByContent" resultType="int">
        SELECT COUNT(*) FROM QUESTIONS WHERE question_content LIKE CONCAT('%', #{query}, '%')
    </select>

    <select id="readCategory" parameterType="string" resultMap="questionResultMap">
        SELECT * FROM QUESTIONS WHERE question_category = #{questionCategory}
    </select>

    <select id="readUser" parameterType="int" resultMap="questionResultMap">
        SELECT * FROM QUESTIONS WHERE user_id = #{userId}
    </select>

    <select id="readDetail" parameterType="int" resultMap="questionResultMap">
        SELECT * FROM QUESTIONS WHERE question_id = #{questionId}
    </select>

    <insert id="insertQuestion" parameterType="questionrequestvo">
        INSERT INTO QUESTIONS (question_category, question_title, question_content, question_public, user_id)
        VALUES (#{questionCategory}, #{questionTitle}, #{questionContent}, #{questionPublic}, #{userId})
    </insert>

    <insert id="insertQuestionAnswer" parameterType="questionrequestvo">
        INSERT INTO QUESTIONS (question_answer)
        VALUES (#{questionAnswer})
    </insert>

    <update id="updateQuestion" parameterType="questionrequestvo">
        UPDATE QUESTIONS
        SET question_category = #{questionCategory},
            question_title = #{questionTitle},
            question_content = #{questionContent},
            question_date = CURRENT_TIMESTAMP,
            question_public = #{questionPublic}
        WHERE question_id = #{userId}
    </update>

    <delete id="deleteQuestion" parameterType="questionrequestvo">
        DELETE FROM QUESTIONS WHERE question_id = #{questionId}
    </delete>
</mapper>