<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.saeromteo.quiz">

	<!-- Create -->
	<insert id="createQuiz" parameterType="quizrequestvo">
		INSERT INTO QUIZ(
			QUIZNAME,
			QUIZCONTENT,
			QUIZANSWER
		) VALUES (
			#{quizName},
			#{quizContent},
			#{quizAnswer}
		)
	</insert>
	
	<insert id="createQuizHistory" parameterType="quizhistoryvo">
		INSERT INTO QUIZHISTORY(
			USER_ID,
			QUIZID,
			POINT,
			SOLVEDAT
		) VALUES (
			#{user_id},
			#{quizid},
			#{point},
			#{solvedat}
		)
		
		
	</insert>

	<!-- Read -->
	<select id="readAll" resultType="quizresponsevo">
		SELECT * FROM QUIZ;
	</select>
	<select id="readById" parameterType="int" resultType="quizresponsevo">
		SELECT * FROM QUIZ WHERE QUIZID=#{id};
	</select>
	<select id="readByName" parameterType="String" resultType="quizresponsevo">
		SELECT * FROM QUIZ WHERE QUIZNAME LIKE '%#{name}%';
	</select>
	<select id="readSeed" resultType="Long">
		SELECT GLOBAL_VALUE FROM GLOBAL_SETTINGS WHERE GLOBAL_KEY='random_seed'
	</select>
	<select id="readRandom" parameterType="quizrandomvo" resultType="quizresponsevo">
		SELECT * FROM QUIZ
		WHERE QUIZID NOT IN (
			SELECT QUIZID FROM QUIZHISTORY
			WHERE USER_ID=#{user_id}
		)
		ORDER BY RAND(#{random_seed}) LIMIT 5;
	</select>
	<select id="readAllPoint" parameterType="int" resultType="int">
		SELECT SUM(POINT) FROM QUIZHISTORY WHERE USER_ID=#{user_id}
	</select>
	<select id="readByUseridSolvedat" parameterType="int" resultType="int">
		SELECT QUIZID FROM QUIZHISTORY WHERE USER_ID=#{user_id} AND
		DATE_FORMAT(SOLVEDAT, 'YYYY-MM-DD') = CURDATE()
	</select>
	
	
	<!-- Udpate -->
	<update id="updateQuiz" parameterType="quizrequestvo">
		UPDATE QUIZ SET
		QUIZNAME = #{quizName}
		QUIZCONTENT = #{quizContent}
		QUIZANSWER = #{quizAnswer}
		WHERE QUIZID = #{quizId}
	</update>
	
	<!-- Delete -->
	<delete id="deleteQuiz" parameterType="int">
		DELETE FROM QUIZ WHERE QUIZID = #{id}
	</delete>
	
</mapper>