<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.saeromteo.app.user">

	<select id="readUser" resultType="uservo">
		SELECT USER_ID AS userId , USER_EMAIL AS userEmail ,USER_PASSWORD AS userPassword ,USER_NICKNAME AS userNickname
		FROM USER_INFO
		WHERE USER_EMAIL = #{userEmail} AND USER_STATUS = 1
	</select>
	
	<select id="readUserByUserId" resultType="uservo">
		SELECT 
			USER_ID AS userId,
			USER_EMAIL AS userEmail,
			USER_PASSWORD AS userPassword,
			USER_PHONE AS userPhone,
			USER_NICKNAME AS userNickname,
			USER_ADD AS userAdd,
			USER_BIRTH AS userBirth,
			USER_GENDER AS userGender,
			USER_M_AGREE AS userMAgree,
			USER_T_AGREE AS userTAgree,
			USER_COLL_STATUS AS userCollStatus,
			USER_JOIN_DATE AS userJoinDate,
			USER_STATUS AS userStatus,
			USER_POINT_HISTORY AS userPointHistory,
			USER_RANK AS userRank,
			USER_IMG_PATH AS userImgPath,
			USER_POSTAL_CODE AS userPostalCode,
			USER_REAL_NAME AS userRealName
		FROM USER_INFO
		WHERE USER_ID = #{userId}
	</select>

	<select id="readUserByUserIdforCollection" resultType="uservo">
		SELECT
		USER_ID AS userId, USER_REAL_NAME AS userRealName, USER_PHONE AS
		userPhone, USER_ADD AS userAdd
		FROM USER_INFO
		WHERE USER_ID = #{userId}
	</select>

	<insert id="registrationoAuthUser" parameterType="uservo">
		INSERT INTO USER_INFO (USER_EMAIL,USER_PASSWORD ,USER_NICKNAME,
		USER_IMG_PATH,USER_STATUS)
		VALUES (#{userEmail},#{userPassword} ,#{userNickname}, #{userImgPath} ,#{userStatus})
	</insert>
	
	<insert id="registrationUser" parameterType="uservo">
		INSERT INTO USER_INFO
		 (USER_EMAIL,USER_PASSWORD ,USER_NICKNAME, USER_M_AGREE,USER_T_AGREE ,USER_IMG_PATH,USER_STATUS)
		VALUES (#{userEmail},#{userPassword} ,#{userNickname},#{userMAgree}, #{userTAgree} ,#{userImgPath},#{userStatus})
	</insert>

	<!-- Update -->
	<update id="updateUser" parameterType="uservo">
		UPDATE USER_INFO
		<set>
			<if test="userEmail != null">USER_EMAIL = #{userEmail},</if>
			<if test="userPassword != null">USER_PASSWORD = #{userPassword},</if>
			<if test="userPhone != null">USER_PHONE = #{userPhone},</if>
			<if test="userNickname != null">USER_NICKNAME = #{userNickname},</if>
			<if test="userAdd != null">USER_ADD = #{userAdd},</if>
			<if test="userBirth != null">USER_BIRTH = #{userBirth},</if>
			<if test="userGender != null">USER_GENDER = #{userGender},</if>
			<if test="userMAgree != null">USER_M_AGREE = #{userMAgree},</if>
			<if test="userTAgree != null">USER_T_AGREE = #{userTAgree},</if>
			<if test="userCollStatus != null">USER_COLL_STATUS = #{userCollStatus},</if>
			<if test="userJoinDate != null">USER_JOIN_DATE = #{userJoinDate},</if>
			<if test="userStatus != null">USER_STATUS = #{userStatus},</if>
			<if test="userPointHistory != null">USER_POINT_HISTORY = #{userPointHistory},</if>
			<if test="userRank != null">USER_RANK = #{userRank},</if>
			<if test="userImgPath != null">USER_IMG_PATH = #{userImgPath},</if>
			<if test="userPostalCode != null">USER_POSTAL_CODE = #{userPostalCode},</if>
			<if test="userRealName != null">USER_REAL_NAME = #{userRealName}</if>
		</set>
		WHERE USER_ID = #{userId}
	</update>
	
	<update id="resetPassword" parameterType="uservo">
		UPDATE USER_INFO
		SET
		USER_PASSWORD = #{userPassword}
		WHERE USER_EMAIL = #{userEmail}
	</update>
</mapper>
	