<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.saeromteo.app.user">

	<select id="readUser" resultType="uservo">
		SELECT USER_EMAIL AS USER_EMAIL ,USER_PASSWORD AS userPassword FROM USER_INFO
		WHERE USER_EMAIL = #{userEmail}
	</select>
	
	<select id="readUserByUserIdforCollection" resultType="uservo">
		SELECT USER_ID AS userId, USER_REAL_NAME AS userRealName, USER_PHONE AS userPhone, USER_ADD AS userAdd 
		FROM USER_INFO 
		WHERE USER_ID = #{userId}
	</select>
	
	<insert id="registrationoAuthUser" parameterType="uservo">
   INSERT INTO USER_INFO (USER_EMAIL, USER_NICKNAME, USER_IMG_PATH)
        VALUES (#{userEmail}, #{userNickname}, #{userImgPath})
	</insert>
</mapper>
	