@charset "UTF-8";

.wrapper{
	margin: 0 auto; 
    max-width: 1200px;
	box-sizing: border-box;
	font-family: 'Noto Sans KR';
	margin-top: var(--header-size);
}


.width_line{
	width: 0.5px;
	height: 1200px;
	background: #C0BCBC;
}

.basket_section{
	margin-top: 50px;
}

.title{
	font-size: 25px;
	font-weight: bold;
	color: #499268;
	margin-left: 35px;
}

.height_line{
	height: 0.5px;
	background: #C0BCBC;
	margin-bottom: 20px;
}

.choice {
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
	margin-left: 40px;
	margin-bottom: 20px;
}

.checkbox-label {
	font-size: 14px;
}

.delete-button {
	border: 1px solid #B9B7B7;
	padding: 4px;
	border-radius: 8px;
	font-size: 13px;
	cursor: pointer;
}

.delete-button:hover{
	border: 1px solid black;
}

.item-container {
	justify-content: space-between;
	margin-left: 35px;
}

.item {
	width: 100%;
	height: 234px;
	border-radius: 20px;
	display: flex;
	padding: 20px;
	border: 1px solid #B9B7B7;
	margin-bottom: 15px;
}

.item_section1 {
	width: 380px;
	display: flex;
	align-items: center;
	border-right: 1px solid #B9B7B7;
}

.item-checkbox {
	margin-left: 10px;
}

.item-image {
	margin-left: 20px;
	height: 90px;
	width: 90px;
	border-radius: 10px;
}

.item-details {
	margin-left: 20px;
	font-size: 14px;
}


.price-container {
	display: flex;
}

.original-price {
	font-size: 12px;
	color: #B9B7B7;
	margin-top: 3px;
	text-decoration: line-through;
}

.item_section2{
	width: 235px;
	border-right: 1px solid #B9B7B7;
}

.quantity-container {
	margin-top: 68px; 
	font-size: 14px;
	text-align: center;
}

.quantity-control {
	margin-top: 6px;
	display: flex;
}

.quantity-control button {
	height: 17px;
	width: 17px;
	border: 1px solid #ddd;
	background-color: #fff;
	cursor: pointer;
}

.item_section3{
	width: 235px;
}

.item-price{
	margin-top: 70px;
	text-align: center;
}

.item-price span{
	font-size: 14px;
}

.item-price p{
	font-size: 14px;
	font-weight: bold;
	margin-top: 5px;
}


.total-container hr {
	border: 0.1px solid lightgrey;
}

.order-summary {
	display: flex;
	font-size: 14px;
	margin: 5px auto;
	margin-left: 27px;
}

.order-summary .order-count {
	color: green;
	font-weight: bold;
	font-size: 14px;
}

.final-summary {
	display: flex;
	margin: 50px 400px;
	position: relative;
}

.final-summary .summary-item {
	margin-left: 44px;
	margin-top: 70px;
	text-align: center;
}

.final-summary .summary-item span {
	font-size: 14px;
}

.final-summary .summary-item p {
	font-size: 18px;
	font-weight: bold;
	margin-top: 8px;
}

.final-summary .order-total {
	color: #499268;
}

.order-button {
	background: #499268;
	width: 178px;
	height: 41px;
	border-radius: 10px;
	color: white;
	position: absolute;
	left: 800px;
	margin-top: 70px;
	cursor: pointer;
}

.order-button:hover{
	background-color: var(--primary-dark);
}

.v-line {
	border-left: 1px solid #B9B7B7;
	height: 187px;
}

.final-summary {
	display: flex;
	margin: 20px auto;
	position: relative;
	margin-bottom: 100px;
}

.summary-item {
	margin-left: 50px;
	margin-top: 70px;
	text-align: center;
}

.summary-item span {
	font-size: 15px;
}

.summary-item p {
	font-size: 20px;
	font-weight: bold;
	margin-top: 8px;
}

.order-total {
	color: #499268;
}

.order-button {
	background: #499268;
	width: 178px;
	height: 41px;
	border-radius: 10px;
	color: white;
	position: absolute;
	left: 696px;
	margin-top: 70px;
	font-size: 14px;
}

.v-line {
	border-left: 1px solid #B9B7B7;
	height: 100%;
	margin-left: 80px;
}

.plus-icon {
	font-size: 20px;
	margin-left: 90px;
	margin-top: 70px;
}

.summary-item-left {
	position: absolute;
	left: 270px;
}

.summary-item-right {
	position: absolute;
	left: 480px;
}

.v-line-middle {
	position: absolute;
	left: 400px;
	height: 187px;
}

.frame-116 {
	background: #ffffff;
	border-style: solid;
	border-color: var(--gray);
	border-width: 1px;
	display: flex;
	flex-direction: row;
	gap: 0px;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	width: 89px;
	height: 22px;
	position: relative;
	overflow: hidden;
	margin-top: 5px;
	margin-left: 74px;
}

.frame-117 {
	border-style: solid;
	border-color: var(--gray);
	border-width: 0px 1px 0px 0px;
	padding: 0px 7px 0px 7px;
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
	justify-content: center;
	align-self: stretch;
	flex: 1;
	position: relative;
	overflow: hidden;
}

#div4 {
	color: #000000;
	text-align: left;
	font-family: "Inter-Regular", sans-serif;
	font-size: 12px;
	line-height: 30px;
	font-weight: 400;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	cursor: pointer;
}

.frame-118 {
	border-style: solid;
	border-color: var(--gray);
	border-width: 0px 1px 0px 0px;
	width: 41px;
	position: relative;
	overflow: hidden;
}

._1 {
	color: #000000;
	text-align: center;
	font-family: "Inter-Regular", sans-serif;
	font-size: 12px;
	line-height: 30px;
	font-weight: 400;
	top: calc(50% - 14.5px);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
}

.frame-119 {
	padding: 0px 7px 0px 7px;
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
	justify-content: center;
	align-self: stretch;
	flex: 1;
	position: relative;
	overflow: hidden;
}