.footer, .footer * {
	box-sizing: border-box;
	font-family: "Noto Sans KR" !important;
}

.footer {
	background: #ededed;
	padding: 0px 270px 0px 270px;
	display: flex;
	flex-direction: row;
	gap: 30px;
	align-items: flex-start;
	justify-content: flex-start;
	align-self: stretch;
	flex-shrink: 0;
	height: 400px;
	position: relative;
	overflow: hidden;
}

.frame-8862 {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: flex-start;
	justify-content: flex-start;
	align-self: stretch;
	flex-shrink: 0;
	width: 675px;
	position: relative;
	overflow: hidden;
}

.frame-8867 {
	display: flex;
	flex-direction: row;
	gap: 30px;
	align-items: center;
	justify-content: flex-start;
	align-self: stretch;
	flex: 1;
	position: relative;
	overflow: hidden;
}

.footer-div {
	color: #000000;
	text-align: left;
	font-family: "Inter-Medium", sans-serif;
	font-size: 12px;
	line-height: 24px;
	font-weight: 500;
	position: relative;
	width: 146px;
	height: 21px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.hong-gildong-4-77-ant-1-000-00-00000-0000-00000-1599-1234-000-000-0000-searomteo-gmail-com
	{
	color: #000000;
	text-align: left;
	font-family: "Inter-Medium", sans-serif;
	font-size: 12px;
	line-height: 24px;
	font-weight: 500;
	position: relative;
	align-self: stretch;
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.frame-8869 {
	display: flex;
	flex-direction: row;
	gap: 30px;
	align-items: center;
	justify-content: flex-start;
	align-self: stretch;
	flex: 1;
	position: relative;
	overflow: hidden;
}

.group-8738 {
	flex-shrink: 0;
	width: 26px;
	height: 26px;
	position: relative;
	overflow: visible;
}

.group-8739 {
	flex-shrink: 0;
	width: 26px;
	height: 26px;
	position: relative;
	overflow: visible;
}

.group-8740 {
	flex-shrink: 0;
	width: 26px;
	height: 26px;
	position: relative;
	overflow: visible;
}

.group-8741 {
	flex-shrink: 0;
	width: 26px;
	height: 26px;
	position: relative;
	overflow: visible;
}

.frame-8863 {
	align-self: stretch;
	flex-shrink: 0;
	width: 146px;
	position: relative;
	overflow: hidden;
}

.frame-8864 {
	padding: 60px 10px 60px 10px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: flex-start;
	justify-content: flex-start;
	align-self: stretch;
	flex-shrink: 0;
	width: 146px;
	position: relative;
	overflow: hidden;
}

.footer-div2 {
	color: #000000;
	text-align: left;
	font-family: "Inter-Bold", sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 700;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.footer-div3 {
	color: #000000;
	text-align: left;
	font-family: "Inter-Medium", sans-serif;
	font-size: 12px;
	line-height: 24px;
	font-weight: 500;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.frame-8865 {
	padding: 60px 10px 60px 10px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: flex-start;
	justify-content: flex-start;
	align-self: stretch;
	flex-shrink: 0;
	width: 146px;
	position: relative;
	overflow: hidden;
}

.frame-8866 {
	padding: 60px 10px 60px 10px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: flex-start;
	justify-content: flex-start;
	align-self: stretch;
	flex-shrink: 0;
	width: 146px;
	position: relative;
	overflow: hidden;
}