body {
    font-family: 'Noto Sans KR', sans-serif;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    max-width: 360px;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.logo img {
    width: 92px;
    height: 54px;
    margin: 40px auto;
}

.form-group {
    margin-bottom: 30px;
    text-align: left;
    position: relative;
}

.form-group label {
    position: absolute;
    top: -14px;
    left: 0;
    font-size: 12px;
    color: #888;
}

.form-group input {
    width: 100%;
    padding: 10px 0;
    padding-left: 5px;
    border: none;
    border-bottom: 2px solid #ddd;
    font-size: 14px;
    box-sizing: border-box;
    outline: none;
}

.form-group input::placeholder {
    color: #ddd;
}

.btn {
    background-color: #499268;
    color: white;
    padding: 15px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
    font-size: 16px;
}

.links {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #888;
}

.links a {
    color: #888;
    text-decoration: none;
}

.right-links {
    display: flex;
    gap: 10px;
}

.divider {
    margin: 20px 0;
    display: flex;
    align-items: center;
    color: #B9B7B7;
}

.divider::before, .divider::after {
    content: '';
    flex: 1;
    height: 1px;
    background: #B9B7B7;
}

.divider:not(:empty)::before {
    margin-right: .25em;
}

.divider:not(:empty)::after {
    margin-left: .25em;
}

.social-login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.social-login a {
    margin: 0 10px;
}

.social-login img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.social-login .google {
    background-color: #ffffff; /* 흰색 배경 */
}

.social-login .kakao {
  background-color: #ffffff; /* 흰색 배경 */
}

.footer {
    margin-top: 20px;
    font-size: 12px;
    color: grey;
}

.footer a {
    color: grey;
    text-decoration: none;
}
