@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    background: none;

    -webkit-font-smoothing: antialiased;
}

.nav,
.nav * {
    box-sizing: border-box;
    font-family: 'Noto Sans KR';
}

.nav {
    border-style: solid;
    border-color: var(--gray);
    border-width: 0px 1px 0px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    width: 230px;
    position: relative;
    overflow: hidden;
}

.myinfo {
    border-style: solid;
    border-color: var(--gray);
    border-width: 0px 0px 1px 0px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    height: 276px;
    position: relative;
    overflow: hidden;
}

.user-profile {
    flex-shrink: 0;
    width: 100px;
    height: 100px;
    position: relative;
    border: 4px solid;
  	border-radius: 60px;
  	border-color: var(--primary-dark);
  	padding: 20px 0px 0px 0px;
}

.myinfo p {
    color: var(--primary);
    font-size: 32px;
    font-weight: 550;
}

.pointinfo {
    border-style: solid;
    border-color: var(--gray);
    border-width: 0px 0px 1px 0px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    height: 150px;
    position: relative;
    overflow: hidden;
}

.pointinfo div {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
    position: relative;
    overflow: hidden;
}

.pointinfo span {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.rank-icon {
    flex-shrink: 0;
    width: 19px;
    height: 19px;
    position: relative;
    overflow: visible;
}

.navlist {
    font-size: 20px;
    padding: 40px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex: 1;
    position: relative;
    overflow: hidden;
}

.nav-li {
    cursor: pointer;
    color: var(--gray);
	padding: 5px 0px;
	margin: 8px 0px;    
}

.nav-li:hover {
	color: var(--black);
}

.current-page {
    color: var(--black);
    border-style: solid;
    border-color: var(--primary);
    border-width: 0px 0px 3px 0px;
}
