.news, .news * {
	box-sizing: border-box;
	font-family: 'Noto Sans KR' !important;
}

.news {
	background: #ffffff;
	display: flex;
	flex-direction: column;
	gap: 0px;
	align-items: center;
	justify-content: flex-start;
	position: relative;
	overflow: hidden;
	padding-top: 76px;
}

.searchsection {
	background: #ffffff;
	padding: 113px 234px 113px 234px;
	display: flex;
	flex-direction: column;
	gap: 26px;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	width: 1380px;
	height: 861px;
	position: relative;
	overflow: hidden;
}

.div {
	color: #000000;
	text-align: center;
	font-family: "Noto Sans Kr", sans-serif;
	font-size: 20px;
	line-height: 20px;
	font-weight: 500;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.searchbar {
	background: #ffffff;
	border-radius: 25px;
	border-style: solid;
	border-color: var(--primary, #499268);
	border-width: 3px;
	padding: 10px 20px 10px 20px;
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
	justify-content: flex-end;
	flex-shrink: 0;
	width: 911px;
	height: 40px;
	position: relative;
	overflow: hidden;
}

.button {
	flex-shrink: 0;
	width: 25px;
	height: 25px;
	position: relative;
	overflow: visible;
}

.news-main-body {
	display: flex;
	flex-direction: column;
	gap: 0px;
	align-items: flex-start;
	justify-content: center;
	flex-shrink: 0;
	width: 1380px;
	position: relative;
	overflow: hidden;
}

.news-date {
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
	justify-content: flex-start;
	align-self: stretch;
	flex-shrink: 0;
	position: relative;
	overflow: hidden;
}

.div2 {
	color: #000000;
	text-align: left;
	font-family: "Inter-Bold", sans-serif;
	font-size: 12px;
	line-height: 13px;
	font-weight: 700;
	position: relative;
	width: 73px;
	height: 52px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

._2024-05-28 {
	background: var(--primary, linear-gradient(to left, rgba(0, 0, 0, 0.2),
		rgba(0, 0, 0, 0.2)), linear-gradient(to left, #499268, #499268));
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-align: left;
	font-family: "Inter-Bold", sans-serif;
	font-size: 12px;
	line-height: 13px;
	font-weight: 700;
	position: relative;
	width: 73px;
	height: 52px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.news-body {
	border-style: solid;
	border-color: var(--gray, #b9b7b7);
	border-width: 1px 0px 0px 0px;
	padding: 0px 10px 162px 0px;
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: flex-start;
	justify-content: center;
	align-self: stretch;
	flex-shrink: 0;
	position: relative;
	overflow: hidden;
}

.category-nav-bar {
	border-style: solid;
	border-color: var(--gray, #b9b7b7);
	border-width: 0px 1px 0px 0px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
	justify-content: flex-start;
	align-self: stretch;
	flex-shrink: 0;
	width: 156px;
	position: relative;
	overflow: hidden;
}

.category-1 {
	display: flex;
	flex-direction: row;
	gap: 0px;
	align-items: center;
	justify-content: center;
	align-self: stretch;
	flex-shrink: 0;
	height: 77px;
	position: relative;
	overflow: hidden;
}

.div3 {
	color: #000000;
	text-align: center;
	font-family: "NotoSansKr-Bold", sans-serif;
	font-size: 14px;
	line-height: 14px;
	font-weight: 700;
	position: relative;
	align-self: stretch;
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.category-12 {
	border-style: solid;
	border-color: var(--primary, #499268);
	border-width: 0px 0px 2px 0px;
	display: flex;
	flex-direction: row;
	gap: 0px;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	width: 69px;
	height: 30px;
	position: relative;
	overflow: hidden;
}

.div4 {
	color: #000000;
	text-align: center;
	font-family: "NotoSansKr-Bold", sans-serif;
	font-size: 12px;
	line-height: 13px;
	font-weight: 700;
	position: relative;
	align-self: stretch;
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.category-13 {
	display: flex;
	flex-direction: row;
	gap: 0px;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	width: 69px;
	height: 30px;
	position: relative;
	overflow: hidden;
}

.div5 {
	color: var(--gray, #b9b7b7);
	text-align: center;
	font-family: "NotoSansKr-Bold", sans-serif;
	font-size: 12px;
	line-height: 13px;
	font-weight: 700;
	position: relative;
	align-self: stretch;
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.news-contents {
	padding: 30px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
	justify-content: flex-start;
	align-self: stretch;
	flex: 1;
	position: relative;
	overflow: hidden;
}

.news-1 {
	border-style: solid;
	border-color: rgba(0, 0, 0, 0.25);
	border-width: 0px 0px 1px 0px;
	padding: 30px 0px 30px 0px;
	display: flex;
	flex-direction: column;
	gap: 0px;
	align-items: flex-start;
	justify-content: center;
	align-self: stretch;
	flex-shrink: 0;
	height: 176px;
	position: relative;
	overflow: hidden;
}

.news-real-content {
	display: flex;
	flex-direction: column;
	gap: 0px;
	align-items: flex-start;
	justify-content: center;
	flex: 1;
	position: relative;
	overflow: hidden;
}

.div6 {
	color: #000000;
	text-align: left;
	font-family: "NotoSansKr-Bold", sans-serif;
	font-size: 20px;
	line-height: 20px;
	font-weight: 700;
	position: relative;
	width: 1144px;
	height: 54px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

._2024-05-19 {
	color: #000000;
	text-align: left;
	font-family: "NotoSansKr-Regular", sans-serif;
	font-size: 12px;
	line-height: 13px;
	font-weight: 400;
	position: relative;
	width: 1144px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.div7 {
	color: #000000;
	text-align: left;
	font-family: "NotoSansKr-Regular", sans-serif;
	font-size: 12px;
	line-height: 13px;
	font-weight: 400;
	position: relative;
	width: 1144px;
	height: 49px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.group-8906 {
	flex-shrink: 0;
	width: 70px;
	height: 70px;
	position: absolute;
	left: calc(50% --620px);
	top: calc(50% --144.5px);
	overflow: visible;
}