.notice,
.notice * {
  box-sizing: border-box;
  font-family: "Noto Sans KR" !important;
}
.notice {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 137px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
}
.body {
  display: flex;
  flex-direction: row;
  gap: 60px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1380px;
  position: relative;
  margin-top: var(--header-size);
  
}
.nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 264px;
  position: relative;
  overflow: hidden;
}
.frame-8914 {
  background: #ffffff;
  border-style: solid;
  border-color: #499268;
  border-width: 0px 0px 3px 0px;
  align-self: stretch;
  flex-shrink: 0;
  height: 103px;
  position: relative;
  overflow: hidden;
}
.image-26 {
  width: 42px;
  height: 33px;
  position: absolute;
  left: 12px;
  top: calc(50% - 16px);
  object-fit: cover;
}
.div {
  color: #3d664e;
  text-align: center;
  font-family: "NotoSansKr-Medium", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  position: absolute;
  left: calc(50% - 45px);
  top: calc(50% - 14.5px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.div2 {
  color: #333232;
  text-align: left;
  font-family: "NotoSansKr-Medium", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  position: relative;
  /* align-self: stretch; */
  height: 86px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: solid;
  border-width: 0px 0px 1px 0px;
}
.div3 {
  color: var(--gray, #b9b7b7);
  text-align: left;
  font-family: "NotoSansKr-Medium", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
  height: 86px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.ul {
  padding: 103px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  height: 646px;
  position: relative;
  overflow: hidden;
}
.head {
  background: #f2f8ed;
  border-style: solid;
  border-color: var(--primary, #499268);
  border-width: 1px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.num {
  flex-shrink: 0;
  width: 103px;
  height: 79px;
  position: relative;
  overflow: hidden;
}
.div4 {
  color: var(--gray, #b9b7b7);
  text-align: left;
  font-family: "NotoSansKr-Medium", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
  height: 86px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cate {
  flex-shrink: 0;
  width: 103px;
  height: 79px;
  position: relative;
  overflow: hidden;
}
.title {
  flex: 1;
  height: 79px;
  position: relative;
  overflow: hidden;
}
.date {
  flex-shrink: 0;
  width: 103px;
  height: 79px;
  position: relative;
  overflow: hidden;
}

.content {
    flex-grow: 1;
    padding: 20px;
}

.notice-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px; 
    text-align: center;
    position: relative;
    top: 80px;
    left: 25px;
}

.notice-table th, .notice-table td {
    padding: 15px;
}

.pagination {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
  	justify-content: center;
  	gap: 10px;
  	align-items: center;
}

.pagination span {
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.pagination .page-link {
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
    text-decoration: none;
    color: var(--black); /* active가 아닌 상태의 색상 설정 */
}

.pagination .active {
    font-weight: bold;
    color: var(--primary);
    font-size: 1.2em;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
}

#noticeTitle:hover {
    background-color: var(--secondary) !important; 
}

#noticeContent {
	display: none;
	text-align: left;
	border: solid;
	border-color: #e2e2e2;
	border-width: 1px 0px 0px 0px;
}

.tableHead {
  background: #f2f8ed;
  border: solid;
  border-width : 3px 0px 0px 0px;
  border-color: #499268;
/*   border-style: solid;
  border-color: var(--primary, #499268);
  border-width: 1px 0px 0px 0px;
  flex-direction: row;
  gap: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden; */
}
.noticelist {
	border: solid;
	border-color: #e2e2e2;
	border-width: 1px 0px 0px 0px;
}

.bottomOption {
	position: relative;
    top: 80px;
}
.inputbox {
 	border: none;
	border-bottom: 1px solid;
	border-color: var(--primary-dark);
  	border-radius: 0px;
  	width: 380px;
  	padding-right: 27px;
}
.inputbox:focus {
	outline: none;
}

.selectbox {
	border: none;
	border-bottom: 1px solid;
	border-color: var(--primary-dark);
  	border-radius: 0px;
  	margin-right: 10px;
}