@charset "UTF-8";


.review_section {
	margin-top: 50px;
}

.title {
	font-size: 25px;
	font-weight: bold;
	color: #499268;
	margin-left: 0px;
}

.width_line {
	height: 0.5px;
	background: #C0BCBC;
	margin-bottom: 50px;
}

.sub_title {
	color: #499268;
	font-size: 20px;
	font-weight: bold;
	margin-left: 30px;
}

.period {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
	margin-bottom: 20px;
	font-size: 13px;
	color: #615E5E;
	position: relative;
	margin-bottom: 10px;
	padding-bottom: 20px;
}

.lastest_period {
	display: flex;
	justify-content: space-between;
	width: 340px;
}

.period>div:nth-child(1)>div {
	padding-top: 5px;
	text-align: center;
	border-radius: 10px;
	border: 1.5px solid #499268;
	height: 30px;
	width: 70px;
}

.lastest_period > div {
	cursor: pointer;
}

.lastest_period > div:hover {
	background-color: var(--secondary);
}

.calendar {
	display: flex;
	justify-content: space-between;
	height: 30px;
	width: 55%;
	position: absolute;
	right: 100px;
	
}

.calendar>input {
	border: none;
	display: flex;
	justify-content: space-between;
	margin-right: 25px;
	border-radius: 10px;
	border: 1.5px solid #499268;
	width: 47%;
	padding-left: 6px;
	font-family: 'Noto Sans KR';
	color: var(--gray);
}


.width_line3{
    font-size: 50px;
    vertical-align: center;
}

.calendar img {
	width: 16px;
	height: 16px;
}

.period>div:nth-child(2)>div {
	border-radius: 10px;
	border: 1.5px solid #499268;
	width: 180px;
	padding-left: 6px;
	padding-top: 5px;
	padding-right: 6px;
}

.btn_search {
	background: #499268;
	width: 88px;
	height: 32px;
	border-radius: 10px;
	color: white;
	text-align: center;
	padding-top: 6px;
	position: absolute;
	cursor: pointer;
	right:0;
}

.btn-search:hover {
	background: var(--(primary-dark));	
}

.item-container {
	justify-content: space-between;
	width: 100%;
}

.item {
	border-radius: 20px;
	padding: 20px;
	border: 1px solid #B9B7B7;
	margin-bottom: 15px;
	font-size: 13px;
	width:100%;
	
}

.item-info {
	margin-bottom: 10px;
	width: 100%;
}

.item>div {
	display: flex;
}

.item-image {
	width: 80px;
	height: 80px;
	border-radius: 10px;
}

.item p {
	margin-top: 30px;
	margin-left: 20px;
	right: 10px;
	width:30%;
}

.delete-btn {
	justify-content: flex-start;
	cursor: pointer;
	right: 10;
}

.written {
	color: grey;
	margin-top: 30px;
	right: 0px;
}

.width_line2 {
	height: 0.5px;
	background: #C0BCBC;
	margin-bottom: 20px;
}

.star img {
	width: 25px;
	height: 25px;
	margin-top: 3px;
}

.cursor {
	cursor: pointer;
}

.num {
	font-size: 25px;
	font-weight: bold;
	margin-left: 5px;
}

.review_w {
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
	height: 30px;
}

.review_w_update {
	height: 100px;
	border: 1px solid var(--gray);
	padding: 10px;
}

.item-image2 {
	width: 170px;
	height: 170px;
}

.buttonBar > div {
	width: 70px;
	height: 30px;
	padding-top: 5px;
	text-align: center;
	border-radius: 10px;
	border: 1.5px solid #499268;
	font-size: 12px;
	cursor: pointer;
	margin-left: 10px;
}

.buttonBar > div:hover {
	background: var(--secondary);
}

.page{
	display: flex;
	width: 400px; height: 17px;
	background: white;
	justify-content: space-between;
	margin-left: 250px;
	margin-top: 110px;
}

.page img{
	width: 33px; height: 20px;
	margin-top: 5px;
}

.page div{
	font-weight: bold;
	display: flex;
	font-size: 20px;
	width: 226px; 
	margin-left: 10px;
	
}

.page div:nth-child(1){
	color: #499268;
}

.page div:nth-child(2){
	color: #B9B7B7;
}
