.shopnav,
.shopnav * {
  box-sizing: border-box;
  font-family: 'Noto Sans KR' !important;
}
.shopnav {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 100%;
}
.shopnavbar {
  background: var(--lightgray2);
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 75px;
  position: relative;
  overflow: hidden;
  width: 100%;
}
.shopnav-div {
  color: #000000;
  text-align: center;
  font-family: "NotoSansKr-Bold", sans-serif;
  font-size: 13px;
  line-height: 13px;
  font-weight: 700;
  position: relative;
  width: 90px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.shopnav-div2 {
  color: var(--gray, #b9b7b7);
  text-align: center;
  font-family: "NotoSansKr-Bold", sans-serif;
  font-size: 13px;
  line-height: 13px;
  font-weight: 700;
  position: relative;
  width: 90px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.shopnav-div3 {
  color: var(--gray, #b9b7b7);
  text-align: center;
  font-family: "NotoSansKr-Bold", sans-serif;
  font-size: 13px;
  line-height: 13px;
  font-weight: 700;
  position: relative;
  width: 90px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shopnavdetail {
  background: rgba(246, 246, 246, 0.83);
  padding: 20px 10px 63px 10px; /* 패딩을 조정하여 높이 애니메이션에 영향이 없도록 함 */
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  position: fixed;
  top: 145px;
  left: 0px;
  opacity: 0;
  visibility: hidden;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.5s ease, visibility 0.5s ease;
}

.box:hover .shopnavdetail {
  opacity: 1;
  visibility: visible;
  max-height: 300px; /* 원하는 최종 높이로 설정 */
  padding: 20px 10px 63px 10px; /* 호버 시 패딩 복원 */
}


.shopnav-div2:hover {
	color: var(--primary);
}
.shopnav-div4:hover {
	color: var(--primary);
}
.shopnav-div5:hover {
	color: var(--primary);
}

.nav-active {
	color: black;
}



.shopnavdetailcontent {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-self: stretch;
  flex-shrink: 0;
  width: 495px;
  position: relative;
  overflow: hidden;
}
.navcategory-1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 90px;
  position: relative;
  overflow: hidden;
}
.shopnav-div4 {
  color: #000000;
  text-align: center;
  font-family: "NotoSansKr-Bold", sans-serif;
  font-size: 13px;
  line-height: 13px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
  height: 33px;
  display: flex;
  align-self: stretch;
  justify-content: center;
  cursor: pointer;
}
.shopnav-div5 {
  color: #000000;
  text-align: center;
  font-family: "NotoSansKr-Medium", sans-serif;
  font-size: 12px;
  line-height: 13px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
  height: 30px;
  display: flex;
  align-self: stretch;
  justify-content: center;
  cursor: pointer;
}
