.header,
.header * {
  box-sizing: border-box;
}
.header {
  background: #ffffff;
  padding: 0px 273px 0px 273px;
  display: flex;
  flex-direction: row;
  gap: 49px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.1);
}
.logo {
  flex-shrink: 0;
  width: 64px;
  height: 40px;
  position: relative;
}
.union {
  width: 56.96px;
  height: 39.47px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.div {
  background: var(
    --primary,
    linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(to left, #499268, #499268)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  position: absolute;
  right: 0.72%;
  left: 46.15%;
  width: 53.12%;
  bottom: -3.57%;
  top: 43.57%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div2 {
  color: var(--black, #333232);
  text-align: center;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 12px;
  line-height: 13px;
  font-weight: 700;
  position: relative;
  width: 70px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div3 {
  color: var(--gray, #b9b7b7);
  text-align: center;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 12px;
  line-height: 13px;
  font-weight: 700;
  position: relative;
  width: 70px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search {
  padding: 17px 40px 17px 40px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 76px;
  position: relative;
}
.frame-6 {
  background: #eeeeee;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  height: 42px;
  position: relative;
  overflow: hidden;
}
.group-8736 {
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  position: relative;
  overflow: visible;
}
.favorite-fill {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.box-alt {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.bell-pin {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.user {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
}
.ellipse-45 {
  border-radius: 50%;
  border-style: solid;
  border-color: var(--black, #333232);
  border-width: 2px;
  width: 66.67%;
  height: 50%;
  position: absolute;
  right: 16.67%;
  left: 16.67%;
  bottom: -16.67%;
  top: 66.67%;
}
.ellipse-46 {
  border-radius: 50%;
  border-style: solid;
  border-color: var(--black, #333232);
  border-width: 2px;
  width: 33.33%;
  height: 33.33%;
  position: absolute;
  right: 33.33%;
  left: 33.33%;
  bottom: 50%;
  top: 16.67%;
}
