/* Figma Styles of your File */
:root {
  /* Colors */
  --primary: linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(to left, #499268, #499268);
  --secondary: rgba(170, 203, 169, 0.73);
  --tertiary: #d6eac8;
  --black: #333232;
  --gray: #b9b7b7;
  --red: #fa5252;
  --lightgray: #efefef;

  /* Fonts */
  --mainfontstyle-font-family: Inter-Regular, sans-serif;
  --mainfontstyle-font-size: 12px;
  --mainfontstyle-line-height: normal;
  --mainfontstyle-font-weight: 400;
  --mainfontstyle-font-style: normal;

  /* Effects */
}
