body {
	font-family: 'Noto Sans KR', sans-serif;
	background: #FFFFFF;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	overflow: hidden;
}
.container {
	position: relative;
	width: 360px;
	background: #FFFFFF;
	text-align: left;
	padding: 20px;
	box-sizing: border-box;
}

.step-indicator {
	display: flex;
	margin-bottom: 20px;
	justify-content: flex-start;
}

.step-indicator div {
	width: 10px;
	height: 10px;
	background: #B9B7B7;
	border-radius: 50%;
	margin: 0 5px;
	padding: 10px;
	margin: 0 15px;
}

.step-indicator .active {
	background: #333232;
}

.title {
	text-align: left;
	margin-bottom: 20px;
}

.title h2 {
	margin: 0;
	font-size: 20px;
	color: #333232;
	font-weight: 700;
}

.title p {
	margin: 10px 0 0 0;
	font-size: 14px;
	color: #B9B7B7;
	font-weight: 700;
	line-height: 21px;
}

.form-group {
	margin-bottom: 20px;
    position: relative;
}

.form-group label {
	display: block;
	font-size: 14px;
	font-weight: 700;
	color: #333232;
	margin-bottom: 10px;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus,
	input:-webkit-autofill:active {
	transition: background-color 5000s ease-in-out 0s;
	-webkit-text-fill-color: black;
}

.form-group input {
	width: 100%;
	padding: 5px 0px;
	border: none;
	border-bottom: 1px solid #B9B7B7;
	font-size: 14px;
	font-weight: 700;
	color: #333232;
	background: transparent;
	outline: none;
	box-sizing: border-box;
}

.form-group p {
	position: absolute;
	left: 35px;
	bottom: -33px;
	font-size: 14px;
	color: #B9B7B7;
	display: flex;
	align-items: center;
}

.form-group p.valid {
	color: #3d7b58;
}

.check-icon {
	position: absolute;
	left: 10px;
	bottom: -20px;
	font-size: 16px;
	color: #D9D9D9;
}

.check-icon.valid {
	color: #3d7b58;
}

.check-icon-password-CheckIcon {
	position: absolute;
	left: 10px;
	bottom: -25px;
	font-size: 14px;
	color: #D9D9D9;
}

.check-icon-password-CheckIcon.valid {
	color: #3d7b58;
}

.btn-container {
	margin-top: 70px;
	margin-bottom: 20px;
}

.btn {
	width: 100%;
	padding: 15px 0;
	background: #B9B7B7;
	color: white;
	border: none;
	border-radius: 7px;
	font-size: 16px;
	font-weight: 700;
	cursor: not-allowed;
	transition: background 0.3s;
	box-sizing: border-box;
}

.btn.active {
	background: #499268;
	cursor: pointer;
}

.btn.active:hover {
	background: #3d7b58;
}
.form-group-inline {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 10px; /* 간격 조정 */
	position: relative;
	margin-bottom:20px;
}

.timer-text {
	font-size: 14px;
	color: #B9B7B7;
	position: relative; /* 수정 */
	left: 0;
	bottom: 0;
	display: flex;
	align-items: center;
}

.resend-btn {
	font-size: 14px;
	cursor: pointer;
	color: #B9B7B7;
	margin-left: auto;
	position: relative;
	bottom: 0; /* 수정 */
}

.resend-btn.active {
	color: #499268;
}

.checkgroup{
	margin-bottom: 10px;
}

