@charset "UTF-8";

.toscontainer {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    
     margin-top: 30px;
     margin-bottom: 20px;
}
.article {
    margin-bottom: 30px;
}

.article-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.article-content {
    font-size: 1rem;
}

.definition {
    font-weight: bold;
}

.list-item {
    margin-bottom: 5px;
}

.italic {
    font-style: italic;
}
